In [3]:
# Import all Dependencies
from bs4 import BeautifulSoup
import requests
import os
import pymongo
from splinter import Browser
import pandas as pd
!jt -t solarizedl

In [4]:
# Executable path to driver
executable_path = {'executable_path': 'chromedriver.exe'}
browser = Browser('chrome', **executable_path, headless=False)

# NASA Mars News

In [5]:
#Visit the NASA Mars News site
mars_url = "https://mars.nasa.gov/news/"
browser.visit(mars_url)
html = browser.html
soup = BeautifulSoup(html, "lxml")

In [4]:
# Scrape headlines from NASA News site
result = soup.find("div", class_='list_text')
news_title = result.find("div", class_="content_title").text
news_p = result.find("div", class_ ="article_teaser_body").text

In [5]:
#Print results
print("news_title =",news_title)
print("news_p =",news_p)

news_title = NASA Invites Students to Name Mars 2020 Rover
news_p = Through Nov. 1, K-12 students in the U.S. are encouraged to enter an essay contest to name NASA's next Mars rover.

# JPL Mars Space Images - Featured Image

In [6]:
# Visit the JPL Mars Space Images website
jpl_image_url="https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars"
browser.visit(jpl_image_url)
html = browser.html
soup1 = BeautifulSoup(html, "lxml")

In [23]:
# Scrape the featured image from the JPL site
image=soup1.find("article")['style'][23:-3]
base_url = "https://www.jpl.nasa.gov"
featured_image_url = base_url + image
print(featured_image_url)

https://www.jpl.nasa.gov/spaceimages/images/wallpaper/PIA19673-1920x1200.jpg

# Mars Weather

In [25]:
# Visit the Mars Weather Twitter page and scrape the latest Mars weather tweet
url="https://twitter.com/marswxreport?lang=en"
browser.visit(url)
html_mars_temp = browser.html
bs = BeautifulSoup(html_mars_temp, "html.parser")
mars_weather = bs.select("p",class_="TweetTextSize TweetTextSize--normal js-tweet-text tweet-text")[7].get_text(strip=True)[8:-26]
print(mars_weather)

sol 265 (2019-08-25) low -99.4ºC (-146.9ºF) high -26.3ºC (-15.3ºF)
winds from the SSE at 5.3 m/s (12.0 mph) gusting to 16.1 m/s (35.9 mph)
pressure at 7.50 hPa

# Mars Facts

In [12]:
# Visit the Mars Facts webpage and use Pandas to scrape the table of Mars facts
url_mars_facts = "https://space-facts.com/mars/"
tables = pd.read_html(url_mars_facts)
tables[1]

                      0                              1
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [13]:
# Rename the headings of the Mars Facts Dataframe
df=tables[1]
df.columns=['Description', 'Mars Values']
df.head()

            Description                    Mars Values
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)

In [14]:
# Set the index to the column "Description"
df.set_index('Description', inplace=True)
df

                                        Mars Values
Description
Equatorial Diameter:                       6,792 km
Polar Diameter:                            6,752 km
Mass:                 6.39 × 10^23 kg (0.11 Earths)
Moons:                          2 (Phobos & Deimos)
Orbit Distance:            227,943,824 km (1.38 AU)
Orbit Period:                  687 days (1.9 years)
Surface Temperature:                   -87 to -5 °C
First Record:                     2nd millennium BC
Recorded By:                   Egyptian astronomers

# Mars Hemispheres

In [15]:
# Visit the USGS Astrologeology site
url_hemisphere="https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars"
browser.visit(url_hemisphere)
html_mars_hemi = browser.html
bs = BeautifulSoup(html_mars_hemi, "html.parser")

In [16]:
# Find all mars hemisphere information from the Products page
items = bs.find_all('div', class_="item")

#Create empty list for hemisphere urls
hemisphere_image_urls = []

base_url = 'https://astrogeology.usgs.gov'

for item in items:
    title = item.find('h3').text
    url_path = item.find('a', class_="itemLink product-item")['href']
    browser.visit(base_url + url_path)
    html_full_image = browser.html
    soup=BeautifulSoup(html_full_image, "html.parser")
    img_url = base_url + soup.find('img',class_='wide-image')['src']
    hemisphere_image_urls.append({'title':title, 'img_url':img_url})
    
hemisphere_image_urls

[{'title': 'Cerberus Hemisphere Enhanced',
  'img_url': 'https://astrogeology.usgs.gov/cache/images/cfa62af2557222a02478f1fcd781d445_cerberus_enhanced.tif_full.jpg'},
 {'title': 'Schiaparelli Hemisphere Enhanced',
  'img_url': 'https://astrogeology.usgs.gov/cache/images/3cdd1cbf5e0813bba925c9030d13b62e_schiaparelli_enhanced.tif_full.jpg'},
 {'title': 'Syrtis Major Hemisphere Enhanced',
  'img_url': 'https://astrogeology.usgs.gov/cache/images/ae209b4e408bb6c3e67b6af38168cf28_syrtis_major_enhanced.tif_full.jpg'},
 {'title': 'Valles Marineris Hemisphere Enhanced',
  'img_url': 'https://astrogeology.usgs.gov/cache/images/7cf2da4bf549ed01c17f206327be4db7_valles_marineris_enhanced.tif_full.jpg'}]